body{
    padding-left: 10rem;
    padding-right: 10rem;
    font-family: 'Poppins';
}

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;700&family=Poppins:wght@300;600;700;800&display=swap');;

.text-danger{
    color: #F12E41;
}

.btn {
    background-color: #EBEBEB;
    --bs-btn-padding-x: 2rem;
    --bs-btn-padding-y: 0.50rem;
}

.btn:hover {
    background-color: #FF4159;
    color: #FFFFFF;
}

.btn2 {
    background-color: #F12E41;
    color: #FFFFFF;
}

.background_home {
    background-image: url('./images/Background.svg');
    background-position: right;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
}

.head_space{
    position: relative;
    top: 50px;
}

section#faq{
    padding-top: 15rem;
}

section#about{
    height: 100vh;
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.kadin{
    /* max-width: 50%; */
    /* max-height: 100%; */
    left: 0;
    position: absolute;
}

.icon {
    height: 4rem;
    text-align: left;
}

.icon2 {
    /* position: absolute;
    right: 50px;
    top: 850px; */
    z-index: 1;
    position: absolute;
    width: 33px;
    height: 33px;
    left: 1635px;
    top: 586px;
}

.card {
    border: none;
}

.dark-bg {
    background-color: #0A1F38;
    padding-top: 100px;
}

.phone {
    max-width: 15vw;
    max-height: 50vh;
}

.nav {
    --bs-nav-link-color: none;
    --bs-nav-link-hover-color: none;
}

.underline {
    height: 1px;
    background: #E5E6E6;
    margin-left: auto;
    margin-right: auto;
}

.nav-text{
        font-style: normal;
        font-weight: 800;
        font-size: 22.5596px;
        line-height: 34px;
}

.nav-btn{
    font-style: normal;
    font-weight: 700;
    font-size: 18.6534px;
    line-height: 28px;
}

.landing-head {
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 70px;
    /* or 141% */
    color: #171A34;
}

.landing-head-2{
    font-style: normal;
    font-weight: 600;
    font-size: 20.8133px;
    line-height: 31px;
    letter-spacing: 0.1em;
    color: #171A34;
    opacity: 0.82;
}

.landing-head-text{
    font-style: normal;
    font-weight: 300;
    font-size: 22.9013px;
    line-height: 34px;
    color: #171A34;
    opacity: 0.72;
}

.cards-main-head{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 49px;
    line-height: 60px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}

.card-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 39px;
    color: #000000;
}

.banner-head{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 73px;
    color: #FFFFFF;
}

.banner-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #FFFFFF;
}

.review-head{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 46px;
    /* identical to box height */    
    color: #000000;
}

.review-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.review-name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    color: #0A1F38;
}

.review-occupation{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    /* identical to box height */    
    color: #000000;
}

.footer-nav{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    /* identical to box height */
    color: #000000;
}

.footer-brand{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height */
    text-align: right;
    letter-spacing: -0.001em;
    color: #000000;
}

a{
    color: none;
    text-decoration: none;
}

.phone-circle{
    position: absolute;
    width: 700px;
    height: 700px;
    margin: auto;
}

section#cards{
    padding-bottom: 100px;
}

section#banner{
    padding: 100px 0;
}

section#review{
    padding: 100px 0;
}

.person{
    position: absolute;
    width: 350px;
    height: 350px;
}

.img-phone{
    position: absolute;
    width: 500px;
    height: 825px;
}

.img-phone2{
    position: absolute;
    width: 500px;
    height: 825px;
    left: 1200px;
}

.tnc h2{
    /* position: absolute; */
        /* width: 561px;
        height: 60px; */
        /* left: 440px;
        top: 258.29px; */
    
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 49px;
        line-height: 60px;
        /* identical to box height */

        color: #000000;
}

.tnc h3{
    /* position: absolute; */
        /* width: 464px;
        height: 39px; */
        /* left: 440px;
        top: 398.91px; */
    
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        /* identical to box height */
    
    
        color: #000000;
        padding-top: 3rem !important;
}

.tnc p{
    /* position: absolute; */
        /* width: 1040px;
        height: 69px; */
        /* left: 440px;
        top: 489.77px; */
    
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 23px;
    
        color: #000000;
        padding-top: 3rem !important;
}

footer{
    padding-top: 10rem !important;
}

input#flexSwitchCheckChecked{
    background-color: #F12E41;
    border: none;
}

.btn#form{
border-radius: 5rem;
width: 100%;
background-color: #F12E41;
font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

img#map{
    width: 100%;
}

.contact h2{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 49px;
        line-height: 60px;
        color: #000000;
}

h5#h5{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
}

h5#h5_2{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 23px;
        color: #000000;
}

h5#h5_3{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20.8133px;
        line-height: 31px;
        letter-spacing: 0.1em;
        color: #171A34;
        opacity: 0.82;
}

h2#h2{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 49px;
        line-height: 60px;
        color: #000000;
}

.form-label{
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */
        color: #222C47;
}

.form-control {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #606F81;

    padding: 1rem;
    border: none;
    border-radius: 0rem;
}

.bg-form{
    background-color: #F9F9F9;
}